<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.francescocoppola.twarz">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permissions options for the `camera` group -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Permissions options for the `download` group -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
